html {
    font-size: 100%;
}

main {
    background-color: #e6ee9c;
    height: auto;
}

footer {
    background-color: #ffab91;
    height: 56px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header {
    height: 56px;
}

aside {
    float: left;
    height: 250px;
}

ul li {
    color: black;
}

img {
    display: block;
}

.red-text {
    color: red;
}

.list-container .italic {
    font-style: italic;
}

body #nav {
    background-color: white;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 25px 50px 100px 1px;
    padding: 15px;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
